langchain
langchain-community
bitsandbytes
accelerate
transformers
sentence_transformers
datasets
loralib
sentencepiece
pypdf
unstructured
tokenizers
streamlit
pinecone[grcp]
langchain-pinecone
langchainhub
langchain-google-genai
python-dotenv